.Editor {
    height: 100%;
    padding: 5px 10px;
}

#editor-tabs {
    height: 100%;
}

.Editor__tab {
    height: 100%;
    max-height: 100%;
}

#editor-tabs .tab-content {
    max-height: 100%;
}

.Editor .control-label {
    text-align: left;
}

.Editor__color-picker {
    height: 2em;
    width: 3em;
    margin-top: 9px;
    border-radius: 4px;
}

.Editor__color-picker-popover {
    position: absolute;
    z-index: 2;
    padding-top: 9px;
    margin-right: -1.5em;
}

.Editor__color-picker-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Editor__setting-saved_success {
    color: green;
}