.Edit {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Edit__header {
    height: 56px;
    width: 100%;
}

.Edit__content {
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
}

.Edit__preview-wrapper {
    flex: 1 1 auto;
}

.Edit__editor-wrapper {
    width: 400px;
}